Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
AuthTokenSupplier.java
BotIdSupplier.java
GPT4oApiKeySupplier.java
Users.java
Groups.java
Members.java
HiRezAuthSupplier.java
PlayerIds.java
deployment.yml
chaosbot-azure.yaml
GroupMe-ChaosBot-serviceAccount.json